body {
  font-family: Arial;
  padding: 20px;
  background: #f5f5f5;
}

form input, button {
  display: block;
  width: 100%;
  padding: 10px;
  margin-top: 10px;
}

#msg {
  margin-top: 15px;
  font-weight: bold;
}
